/*
	$VASSAR-FOOTER__site-font: 1em $serif;	
*/

.u-VCard__adr,
.u-VCard__info,
.u-List--site {
	margin: 0 0 0.4em 0;
}
.u-VCard__item.u-VCard__org {
	display: block;
	font: $VASSAR-FOOTER__site-font;
	margin-bottom: 1em;
}