@mixin colored-dots($color) {
	background: linear-gradient(
      rgba($color, 1), 
      rgba($color, 1)
    ), url(https://cmspreview.vassar.edu/styleguide/web/assets/images/patterns/polkadots-gray.png);
	background-size: 2em;
	background-blend-mode: overlay;
}