b {
	font-weight: normal;
}
.underline {
	font-weight: normal;
	text-decoration: underline;
}
h2, h3, h4, h5, h6 {
	margin: 2em 0 1em 0;
	letter-spacing: -0.02em;
}
h2 {
	margin-top: 1.2em;
	margin-bottom: 0.4em;
}
h3 {
	text-transform: uppercase;
	letter-spacing: 0.04em;
}
html {
	font-weight: 300;
	
	@media screen and (min-width: $small) {
		font-size: 1.4em;
		font-size: calc(0.9em + 0.5 * ((100vw - 20em) / 60));
	}
	@media screen and (min-width: $medium) {
		font-size: calc(0.8em + 0.5 * ((100vw - 20em) / 60));
	}
	@media screen and (min-width: $large) {
		font-size: calc(0.65em + 0.5 * ((100vw - 20em) / 60));
	}
}
.u-lMain {
	ul, ol {
		padding-left: 0;
		margin-top: 0;
	}
	ul {
		li {
			list-style-type: square;
		}
	}
}
.u-pageTitle {
	border-bottom: 0.1em solid $VC__vassarLightGray;
	font: 100 3.2em $sans-serif;
	letter-spacing: -0.04em;
	padding-bottom: 0.2em;
	margin: 0;
	margin-bottom: 0.4em;

	@include small() {
		font-size: 4.2em;
	}
}
.item__title {
	margin: 0;
	font-size: 0.75em;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	margin-top: 0.1em;
}
.u-lMain {
	p, li {
		letter-spacing: -0.02em;
	}
	b, strong {
		letter-spacing: 0;
	}
}


table.list {
	width: 100%;
	tr {
		background: none;	
		
		p:last-child {
			margin-bottom: 0; 
		}	
	}
	td {
		font-size: 0.9em;
		border: none;
		border-bottom: 1px solid #ccc !important;
		padding: 0.4em 0;
	}
	tr td:first-child {
		font-weight: bold;
		width: 25%;
	}
}













