.color-swatch {
	border: 1px solid #ddd;
	padding: 3em;
	
	&.swatch--burgundy {
		background: $VC__vassarBurgundy;
	}
	&.edge-to-edge {
		margin-bottom: 1em;
		margin-left: calc(-#{$card-padding} - 1px);
		margin-right: calc(-#{$card-padding} - 1px);
		
		&:first-child {
			border-top-left-radius: $border-radius;
			border-top-right-radius: $border-radius;
			margin-top: calc(-#{$card-padding} - 1px) !important;
		}
		&:first-of-type {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
			border-bottom-left-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
		}
	}
}