//	https://philipwalton.github.io/solved-by-flexbox/demos/media-object/

@mixin break-small() {
	@include small() {
		&.break-small {
			width: 100%;
			
			.media {
				margin-bottom: 1em;				
			}
		}
	}	
}
@mixin break-med() {
	@include med() {
		&.break-med {
			width: 100%;

			.media {
				margin-bottom: 1em;				
			}
		}
	}	
}
@mixin break-large() {
	@include large() {
		&.break-large {
			width: 100%;

			.media {
				margin-bottom: 1em;				
			}
		}
	}	
}


.media {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.media-figure {
	margin-right: 1em;
}

.media-body {
	flex: 1;
}
.media-body,
.media-body :last-child {
	margin-bottom: 0;
}

.media-title {
	margin: 0 0 .5em;
}

.media--center {
	align-items: center;
}

.media--reverse > .media-figure {
	order: 1;
	margin: 0 0 0 1em;
}
